Repository vidarc/playground: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.vue": [
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ],
  "*.{css,scss,sass}": [
    "prettier --write"
  ]
}

don't really care about uncaught exceptions in e2e
  cypress/support/index.ts
Due: prettier --write, eslint --fix

don't use master version of gcloud stuff
  .github/workflows/prepare.yml
  .github/workflows/release.yml
Due: none

fix so i can run it locally
  src/client/wordle-clone/WordleBoard.tsx
  vite.config.js
Due: prettier --write, eslint --fix

more styling to make it look less bad
  src/client/wordle-clone/WordleBoard.tsx
Due: prettier --write, eslint --fix

starting on a wordle clone
  src/client/App.tsx
  src/client/wordle-clone/Wordle.tsx
  src/client/wordle-clone/WordleBoard.tsx
  yarn.lock
Due: prettier --write, eslint --fix

some keyboard inputting
  src/client/wordle-clone/Keyboard.tsx
  src/client/wordle-clone/Wordle.tsx
  src/client/wordle-clone/WordleBoard.tsx
Due: prettier --write, eslint --fix

some refactoring state + guessing part mostly works
  src/client/wordle-clone/Wordle.tsx
  src/client/wordle-clone/WordleBoard.tsx
  src/client/wordle-clone/types.ts
Due: prettier --write, eslint --fix

add the keyboard
  src/client/wordle-clone/Keyboard.tsx
  src/client/wordle-clone/Wordle.tsx
Due: prettier --write, eslint --fix

move the fastify ready call
  src/server/app.ts
  src/server/server.ts
Due: prettier --write, eslint --fix

add some helpful fastify plugins
  package.json
  src/server/app.ts
  yarn.lock
Due: prettier --write, eslint --fix

fix(deps): update all dependencies
  .github/workflows/prepare.yml
  .github/workflows/release.yml
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update all dependencies
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency undici to v5
  package.json
  yarn.lock
Due: prettier --write

add a compiledcss eslint plugin
  .eslintrc.json
  package.json
  src/server/app.ts
  yarn.lock
Due: prettier --write, eslint --fix

use node 16 for the docker image + add some logs
  Dockerfile
  src/server/ssr.ts
Due: prettier --write, eslint --fix

fix ssr stream
  src/server/ssr.ts
Due: prettier --write, eslint --fix

upgrade minimist
  yarn.lock
Due: none

re-enable fastify-helmet, wasn't the issue
  src/server/app.ts
Due: prettier --write, eslint --fix

fix(deps): update all dependencies
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update all dependencies
  .github/workflows/codeql-analysis.yml
  Dockerfile
  package.json
  yarn.lock
Due: prettier --write

upgrades and migrations
  package.json
  src/server/app.ts
  src/server/ssr.ts
  yarn.lock
Due: prettier --write, eslint --fix

yarn up '*' -R
  yarn.lock
Due: none

super basic phaser example + various dev improvements
  docker-compose.yml
  package.json
  src/client/App.tsx
  src/client/Game/Entry.tsx
  src/client/Game/Game.ts
  src/client/Game/assets/SoccerBall.png
  src/client/Game/assets/red.png
  src/client/Game/assets/sky.png
  src/client/entry-client.tsx
  src/client/entry-server.tsx
  src/server/app.ts
  src/types.d.ts
  vite.config.js
  yarn.lock
Due: prettier --write, eslint --fix

different assets from kenney.nl and a clickable button
  src/client/App.tsx
  src/client/Game/Game.ts
  src/client/Game/assets/SoccerBall.png
  src/client/Game/assets/blueSheet.png
  src/client/Game/assets/greenSheet.png
  src/client/Game/assets/greySheet.png
  src/client/Game/assets/red.png
  src/client/Game/assets/redSheet.png
  src/client/Game/assets/sky.png
  src/client/Game/assets/yellowSheet.png
Due: prettier --write, eslint --fix

fix(deps): update all dependencies
  .github/workflows/prepare.yml
  .github/workflows/release.yml
  .yarn/releases/yarn-3.2.0.cjs
  .yarn/releases/yarn-3.2.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

more upgrades + cypress 10 stuff
  cypress.config.ts
  cypress.json
  cypress/e2e/tests.spec.ts
  cypress/plugins/index.ts
  cypress/support/e2e.ts
  cypress/videos/tests.spec.ts.mp4
  package.json
  tsconfig.eslint.json
  yarn.lock
Due: prettier --write, eslint --fix

remove this
  cypress/videos/tests.spec.ts.mp4
Due: none

add cypress/videos to gitignore
  .gitignore
Due: none

update github action for cypress 10
  .github/workflows/prepare.yml
Due: none

fix(deps): update dependency undici to v5.5.1 [security]
  package.json
  yarn.lock
Due: prettier --write

fixing some react 18 imports
  src/client/entry-client.tsx
  src/client/entry-server.tsx
Due: prettier --write, eslint --fix

add in typechecking to build
  package.json
  src/client/App.tsx
  tsconfig.json
Due: prettier --write, eslint --fix

updates so this works with fastify 4
  package.json
  src/client/entry-server.tsx
  src/custom.d.ts
  src/server/server.ts
  src/server/ssr.ts
  src/types.ts
  yarn.lock
Due: prettier --write, eslint --fix

type import eslint rule
  .eslintrc.json
  src/client/fetcher.ts
  src/server/ssr.ts
Due: prettier --write, eslint --fix

fix tsconfig.server so the path works again
  tsconfig.server.json
Due: prettier --write

resolve jsx-runtime issue with compiled/vite
  .eslintrc.json
  src/client/App.tsx
  tsconfig.json
Due: prettier --write, eslint --fix

fixes/updates for latest vite, no esm for now
  package.json
  tsconfig.server.json
  vite.config.js
  yarn.lock
Due: prettier --write, eslint --fix

yarn up and dedupe
  yarn.lock
Due: none

update renovate config for lockfile
  renovate.json
Due: prettier --write
