Repository vidarc/playground: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.vue": [
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ],
  "*.{css,scss,sass}": [
    "prettier --write"
  ]
}

cypress and other major upgrades
  package.json
  yarn.lock
Due: prettier --write

upgrades, linaria, and esm
  .eslintrc.json
  package.json
  src/client/App.tsx
  src/custom.d.ts
  src/server/api.ts
  src/server/app.ts
  src/server/server.ts
  src/server/ssr.ts
  tsconfig.json
  tsconfig.server.json
  vite.config.js
  yarn.lock
Due: prettier --write, eslint --fix

css fixes
  src/client/App.tsx
Due: prettier --write, eslint --fix

some refactoring
  package.json
  src/client/App.tsx
  src/client/components/Navigation.tsx
  yarn.lock
Due: prettier --write, eslint --fix

use global fetch + moving things around
  package.json
  src/client/App.tsx
  src/client/AppWithSharedProviders.tsx
  src/client/PageOne.tsx
  src/client/PageTwo.tsx
  src/client/entry-client.tsx
  src/client/entry-server.tsx
  src/client/features/page-one/FakeData.tsx
  src/client/features/page-one/PageOne.tsx
  src/client/features/page-two/PageTwo.tsx
  src/client/fetcher.ts
  yarn.lock
Due: prettier --write, eslint --fix

upgrading yarn
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/releases/yarn-3.3.1.cjs
  .yarn/releases/yarn-3.4.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

package upgrades
  package.json
  yarn.lock
Due: prettier --write

add a docker-compose file + pass along CSP nonce
  docker-compose.yml
  src/client/features/page-two/PageTwo.tsx
  src/server/app.ts
  src/server/ssr.ts
Due: prettier --write, eslint --fix

hopeful fix for csp/nonce setup
  src/server/app.ts
Due: prettier --write, eslint --fix

removing something to see if it fixes e2e tests
  src/client/features/page-two/PageTwo.tsx
Due: prettier --write, eslint --fix

update the tsconfig setup
  package.json
  tsconfig.server.json
  yarn.lock
Due: prettier --write

fix the node versions in pipeline
  .github/workflows/prepare.yml
  .github/workflows/release.yml
Due: none

update to use a google WIF, i think this will work
  .github/workflows/prepare.yml
  .github/workflows/release.yml
Due: none

service accounts have their own special email
  .github/workflows/prepare.yml
  .github/workflows/release.yml
Due: none

this is the one
  .github/workflows/prepare.yml
  .github/workflows/release.yml
Due: none

try this + cleanup
  .github/workflows/prepare.yml
  .github/workflows/release.yml
Due: none

add setup gcloud steps back
  .github/workflows/prepare.yml
  .github/workflows/release.yml
Due: none

use project id instead of project number
  .github/workflows/prepare.yml
  .github/workflows/release.yml
Due: none

don't need these lines
  .github/workflows/prepare.yml
  .github/workflows/release.yml
Due: none

clean up fixes
  .github/workflows/prepare.yml
Due: none

add --allow-unauthenticated flag to prepare workflow
  .github/workflows/prepare.yml
Due: none

update tsconfig to node 20
  package.json
  tsconfig.server.json
  yarn.lock
Due: prettier --write

lockfile update
  yarn.lock
Due: none

linting
  cypress/e2e/tests.spec.ts
  src/client/entry-client.tsx
  src/client/entry-server.tsx
  src/server/api.ts
  src/server/ssr.ts
  src/types.ts
Due: prettier --write, eslint --fix

upgrading all the things
  package.json
  yarn.lock
Due: prettier --write

upgrade yarn
  .yarn/releases/yarn-3.6.3.cjs
  .yarn/releases/yarn-3.6.4.cjs
  .yarnrc.yml
  package.json
Due: prettier --write

upgrade @types to fix them
  package.json
  yarn.lock
Due: prettier --write

upgrade yarn
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-stage.cjs
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarn/releases/yarn-3.6.4.cjs
  .yarn/releases/yarn-4.0.2.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

update workflows for right node version
  .github/workflows/prepare.yml
  .github/workflows/release.yml
Due: none

update workflows for right node version (#102)
  .github/workflows/prepare.yml
  .github/workflows/release.yml
Due: none

downgrade typescript
  package.json
  yarn.lock
Due: prettier --write

fix config
  src/server/ssr.ts
Due: prettier --write, eslint --fix

migrate to use @wyw-in-js packages to support linaria@6
  package.json
  vite.config.js
  yarn.lock
Due: prettier --write, eslint --fix

upgrade cypress github action
  .github/workflows/prepare.yml
Due: none

upgrade all the things
  package.json
  yarn.lock
Due: prettier --write

some vscode settings change
  .vscode/settings.json
Due: prettier --write

upgrade yarn
  .yarn/releases/yarn-4.1.1.cjs
  .yarn/releases/yarn-4.2.2.cjs
  .yarnrc.yml
  package.json
Due: prettier --write

upgrade yarn to 4.3.1
  .yarn/releases/yarn-4.2.2.cjs
  .yarn/releases/yarn-4.3.1.cjs
  .yarnrc.yml
  package.json
Due: prettier --write

upgrade yarn to 4.4.0 and cleanup husky script
  .husky/pre-commit
  .yarn/releases/yarn-4.3.1.cjs
  .yarn/releases/yarn-4.4.0.cjs
  .yarnrc.yml
  package.json
Due: prettier --write
