Repository vidarc/playground: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

upgrade yarn to 4.5.0
  .yarn/releases/yarn-4.4.1.cjs
  .yarn/releases/yarn-4.5.0.cjs
  .yarnrc.yml
  package.json
Due: prettier --write

remove deprecated faker api
  src/server/api.ts
Due: prettier --write, eslint --fix

update to fastify 5
  Dockerfile
  package.json
  yarn.lock
Due: prettier --write

update to fastify 5 (#157)
  Dockerfile
  package.json
  yarn.lock
Due: prettier --write

upgrade to latest eslint
  .eslintignore
  .eslintrc.json
  .vscode/settings.json
  eslint.config.mjs
  package.json
  src/client/entry-client.tsx
  tsconfig.eslint.json
  yarn.lock
Due: prettier --write, eslint --fix

linting
  eslint.config.js
  package.json
  src/client/features/page-one/FakeData.tsx
  src/server/ssr.ts
  tsconfig.eslint.json
  yarn.lock
Due: prettier --write, eslint --fix

upgrading everything, react 19, vite, etc
  package.json
  yarn.lock
Due: prettier --write

more linting stuff...
  eslint.config.js
  eslint.config.mjs
  package.json
  src/client/App.tsx
  src/client/AppWithSharedProviders.tsx
  src/client/client-types.d.ts
  src/client/components/Navigation.tsx
  src/client/entry-client.tsx
  src/client/entry-server.tsx
  src/client/features/page-one/FakeData.tsx
  src/custom.d.ts
  src/server/api.ts
  src/server/app.ts
  src/server/server-types.d.ts
  src/server/server.ts
  src/server/ssr.ts
  tsconfig.eslint.json
  yarn.lock
Due: prettier --write, eslint --fix

lockfile update
  yarn.lock
Due: none

upgrades
  package.json
  yarn.lock
Due: prettier --write

upgrading again
  cypress/support/commands.ts
  eslint.config.mjs
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

enabling more linting + just ignoring config files
  eslint.config.mjs
  package.json
  src/server/app.ts
  src/server/ssr.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

yarn up and dedupe
  yarn.lock
Due: none

don't need this @types package anymore
  package.json
  yarn.lock
Due: prettier --write

upgrade yarn to 4.7.0
  .yarn/releases/yarn-4.6.0.cjs
  .yarn/releases/yarn-4.7.0.cjs
  .yarnrc.yml
  package.json
Due: prettier --write

upgrade node version in prepare.yml
  .github/workflows/prepare.yml
Due: none

upgrade yarn
  .yarn/releases/yarn-4.8.1.cjs
  .yarnrc.yml
  package.json
Due: prettier --write

upgrade yarn to 4.9.1
  .yarn/releases/yarn-4.8.1.cjs
  .yarn/releases/yarn-4.9.1.cjs
  .yarnrc.yml
  package.json
Due: prettier --write

upgrade yarn to 4.9.2
  .yarn/releases/yarn-4.9.1.cjs
  .yarn/releases/yarn-4.9.2.cjs
  .yarnrc.yml
  package.json
Due: prettier --write

upgrade yarn to 4.12.0
  .yarn/releases/yarn-4.10.3.cjs
  .yarn/releases/yarn-4.12.0.cjs
  .yarnrc.yml
  package.json
Due: prettier --write

upgrades and migrating to playwright
  .github/workflows/playwright.yml
  .github/workflows/prepare.yml
  .gitignore
  cypress.config.ts
  cypress/e2e/tests.spec.ts
  cypress/fixtures/example.json
  cypress/support/commands.ts
  cypress/support/e2e.ts
  cypress/tsconfig.json
  eslint.config.mjs
  package.json
  playwright.config.ts
  tests/e2e/example.spec.ts
  tsconfig.eslint.json
  yarn.lock
Due: prettier --write, eslint --fix

a more specific docker tag
  Dockerfile
Due: none

fix playwright CI setup
  .github/workflows/playwright.yml
  .github/workflows/prepare.yml
  playwright.config.ts
Due: prettier --write, eslint --fix

resolving audit stuff
  package.json
  tsconfig.server.json
  yarn.lock
Due: prettier --write

js-yaml yarn up
  yarn.lock
Due: none

install first i guess
  .github/workflows/prepare.yml
Due: none

potentially fixing SSR stream
  src/server/api.ts
  src/server/ssr.ts
  tsconfig.server.json
Due: prettier --write, eslint --fix

use the correct e2e url
  playwright.config.ts
Due: prettier --write, eslint --fix

helps to put it in the right spot
  .github/workflows/prepare.yml
Due: none

@tsconfig/node22 => @tsconfig/node24
  package.json
  tsconfig.server.json
  yarn.lock
Due: prettier --write

@tsconfig/node22 => @tsconfig/node24 (#235)
  package.json
  tsconfig.server.json
  yarn.lock
Due: prettier --write

setting up the react compiler
  eslint.config.mjs
  package.json
  src/server/app.ts
  vite.config.js
  yarn.lock
Due: prettier --write, eslint --fix

setting up the react compiler (#236)
  eslint.config.mjs
  package.json
  src/server/app.ts
  vite.config.js
  yarn.lock
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (((any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)) or (any of: *.json)) or (any of: *.{css,scss,sass})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
